<div class="container-fluid bg-light">
    <table
    <tr></tr>
        <tr>  
            <td>
            <img src="Assets/images/picture.jpg" height="550px" width="350px"/>
            </td>

            <td></td>
    
            <td>
                <h3>Hi. I am Nithiyavany Vijai. I am currently in second semester of Software engineering and Technolgy at Centennial college.
                    I have B.A degree in Geography in SriLanka.I'm a beginner to learn programming and web developing. 
                    You may get to know about me in this site.</h3>
                <br><br>

                <p> Click on the link to see my resume..</p> 
                <a href="Assets/doc/resume.pdf"> RESUME </a>
        </td>
    
    </tr>
</table>
</div>