<div class="container-fluid">

    <h2> Here are some of my project works </h2>
    <ul>
        <li><a href="http://studentweb.cencol.ca/nvijai/index/">First HTML project</a></li>
        <li><a href="http://studentweb.cencol.ca/nvijai/index/assignment2.html">WetLand-Conservation Project</a></li>
        <li><a href="http://studentweb.cencol.ca/nvijai/index/assignment3.html">Advertisement Project</a></li>
        <li><a href="http://studentweb.cencol.ca/nvijai/index/Assignment4.html">Form Making Project</a></li>
        <li><a href="http://studentweb.cencol.ca/nvijai/index/project_home.html">Sample Realtor project - COMP213(Fall 2021)</a></li>
        </ul>
        
        </div>