<div class="container-fluid">

<h2> Expecting offers are below: </h2>
 <ul>
 <li>General programming</li>
 <li>web development</li>
 <li>Creating tables using MySQL/SQLServer</li>
 <li>Managing the in-house client/server software</li>
 <li>Designing application programmable interfaces (APIs)</li>
 <li>Testing and debugging software</li>
 <li>Conducting usability tests </li>
 <li>Project demonstrations</li>
 <li>Writing project reports </li>
 <li>Attending regular status update meetings</li>
 </ul>

 </div>
 