/* custom css goes here*/
.container-fluid {
    border-style: solid;
    border-width: 2px;
    border-color: bisque;
    }

    .display-4 {
        text-align: center;
        color: red;
        }

     .display-6 {
        text-align: center;
        color: mediumslateblue;
        }

        p {
        font-size: 28px;
        }

        li {
        font-size: 20px;
        }

        form {
            background: white;
            padding: 10px 5px 7px 5px;
            margin: 0 auto;
            width: 750px;
            border: 2px solid black;
        }

        label {
            text-align: left;
            clear:left;
            display: block;
            position: relative;
            margin: 15px 0;
            
        }
        .text { 
            text-align: left;
            clear:left;
            display: block;
            position: relative;
            margin: 15px 0;
        }